body {
    font-family: Verdana;
    font-size: 20px;
    color: #00ff00; 
    background-color: #000000; 
}

button {
    color: #00ff00;
    background-color: #333333; 
    font-size: 50px;
    border: none;
    border-radius: 10px; 
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease; 
}

button:hover {
    background-color: #00ff00;
    color: #000000; 
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
}

h2 {
    text-align: center;
    font-size: 200px;
    color: #00ff00; 
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00; 
}

h2:hover {
    color: #ff0000;
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
}

