body{
    background-image: url(linn-cove-viaduct-at-sunrise-kk-nature-photography.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0;
    background-attachment: fixed;
}
#clock_container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    height: 100vh;
    

}
#clock{
    font-family: 'Courier New', Courier, monospace;
    font-size: 6.5rem;
    text-align: bold;
    font-weight: bold;
    text-align: center;
    color: aliceblue;
    backdrop-filter: blur(2px);
    
    width: 100;

}